<h1>Calculadora</h1>
<hr>
<div>
  <input type="text" [(ngModel)]="entrada">
  <br><br>
  <button (click)="botonPresionado('7')">7</button>
  <button (click)="botonPresionado('8')">8</button>
  <button (click)="botonPresionado('9')">9</button>
  <button (click)="botonPresionado('/')">/</button>
  <br><br>
  <button (click)="botonPresionado('4')">4</button>
  <button (click)="botonPresionado('5')">5</button>
  <button (click)="botonPresionado('6')">6</button>
  <button (click)="botonPresionado('*')">*</button>
  <br><br>
  <button (click)="botonPresionado('1')">1</button>
  <button (click)="botonPresionado('2')">2</button>
  <button (click)="botonPresionado('3')">3</button>
  <button (click)="botonPresionado('-')">-</button>
  <br><br>
  <button (click)="botonPresionado('0')">0</button>
  <button (click)="botonPresionado('.')">.</button>
  <button (click)="igual()">=</button>
  <button (click)="botonPresionado('+')">+</button>
  <br><br>
  <button (click)="reset()">nueva operación</button>
  <br><br>
  <h2>Resultado: {{resultado}}</h2>
</div>
